<div class="container">
  <h1 class="fw-bold">Titulo</h1>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <img src="assets/sci-fi-book-cover-template.jpg" />
    </div>
    <div class="col-sm-8">
      <div style="margin-bottom: 200px">
        <p class="lead text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae
          repudiandae esse distinctio, nam facere dolores quia quod
          blanditiis asperiores architecto voluptatem minus sapiente natus
          inventore facilis porro culpa soluta deserunt?
        </p>
      </div>

      <div style="margin-bottom: 20px">
        <h5>Valor unitario $ 50.000,00</h5>
      </div>
      <div style="margin-bottom: 20px">
        <form class="form-inline">
          <div class="form-group row">
            <label
              for="inputCantidad"
              class="col-sm-2 col-form-label col-form-label-sm"
              >Cantidad</label
            >
            <div class="col-sm-2">
              <input
                class="form-control form-control-sm"
                id="inputCantidad"
              />
            </div>
          </div>
          <hr />

          <div class="form-group row">
            <div class="col-sm-10">
              <h3>Total $ 50.000,00</h3>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-secondary float-right">
                Añadir al carrito
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>